@import "../../globals/base_variables";

.intro {
  @media screen and(min-width: 768px) {
    max-width: 50%;
    font-size: 24px;
  }
  @media screen and(min-width: 1000px) {
    font-size: 28px;
  }
  font-family: "AktivGroteskLight";
  font-size: 26px;
}

.profile {
  width: 100%;
  min-height: 400px;
  margin-top: 40px;
  background-image: url("../../../public/assets/images/sarah.png");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    width: 40%;
    max-width: 40%;
    min-height: auto;
    margin-left: auto;
    padding-left: 26px;
    margin-top: 26px;
    background-size: contain;
  }
  @media screen and (min-width: 1000px) {
    background-size: cover;
  }
}

.experience {
  font-family: "AktivGroteskLight", "Arial";
  margin-top: 80px;
  font-size: 18px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }

  & span {
    display: block;
    margin-bottom: 8px;
  }
}
