@import '../../globals/base_variables.scss';

.main {
    margin-top: 10%;
    font-size: 22px;
    max-width: 500px;
    
    p {
        font-size: 20px;
    }
}

.image {
    margin-top: 30px;
    min-height: 400px;
    background-position: left top;
    background-size: cover;
    background-image: url("../../../public/assets/images/kebnekaise.jpeg");

  @media screen and (min-width: 768px) {
    width: 40%;
    padding-left: 20px;
    max-height: 400px;
    margin-left: auto;
  }
}